$logo-color: #02b3e4;
$section-title-color: #7d97ad;

$font-family: Arial, Helvetica, sans-serif;
$header-font-family: 'Julius Sans One', sans-serif;
$font-color: #2d3c49;

$break-medium: 992px;
$break-small: 768px;

body
{
    font-family: $font-family;
    color: $font-color;
    font-size: 18px;
}
img
{
    max-width: 100%;
}
header, section
{
    margin-bottom: 35px;

    .section-title
    {
        color: $section-title-color;
        letter-spacing: 0.05em;

        margin-top: 5px;
        margin-bottom: 20px;
        padding-left: 10px;
    }
}
#header
{
    font-family: $header-font-family;
    padding: 20px 0;
    border-bottom: 3px solid $section-title-color;
}

#main-title
{
    font-size: 2.5em;
    margin: 5px 0;
    font-weight: lighter;
}
#sub-title
{
    margin: 5px 0;
    font-weight: bold;
}

#cover
{
    img
    {
        width : 100%;
        @media screen and (min-height: 550px) {
            max-height: 70vh;
        }

    }
}

#articles
{
    .article
    {
        img
        {
            border: 1px solid $section-title-color;
            max-width: 100%;
        }
    }
}
